<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kfunderburg.alfred.getWorkflows</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>009B4EE3-2C97-426D-BE66-31613C17423B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7335E46-73DD-43B1-97A3-292E51C29BB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>08EE5DDC-7433-4120-844B-F7BB473C6378</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE262683-F563-4E4E-9379-A45C634D07F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0951D9B9-E718-484A-A60A-F737B09D50C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>009B4EE3-2C97-426D-BE66-31613C17423B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F99CDD92-86A1-45C1-B9BD-3444954159EF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8B73B49-D337-47FF-86C5-CAB759BB0EC7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DD696E0-097F-4D49-9183-09056EBB64C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBA064D8-5684-43D9-B427-40C490DC59E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1705367A-55A7-43AF-BBEE-F3FDC5064599</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58E5B4BC-702B-49BE-AE64-8BED09F56579</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D3734BE-3AED-4742-8722-6FADE463E6A2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>08EE5DDC-7433-4120-844B-F7BB473C6378</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17348E7E-BE8A-4C9B-BC12-9BF184357239</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7335E46-73DD-43B1-97A3-292E51C29BB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B949C24-F2E5-4140-B73C-93D199B370B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE262683-F563-4E4E-9379-A45C634D07F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58E5B4BC-702B-49BE-AE64-8BED09F56579</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7335E46-73DD-43B1-97A3-292E51C29BB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67EF8D53-EEC3-4E68-992F-1B289BD2C08A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17348E7E-BE8A-4C9B-BC12-9BF184357239</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DD696E0-097F-4D49-9183-09056EBB64C0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3B949C24-F2E5-4140-B73C-93D199B370B6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D3734BE-3AED-4742-8722-6FADE463E6A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBA064D8-5684-43D9-B427-40C490DC59E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7335E46-73DD-43B1-97A3-292E51C29BB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F09E2F4-B7AB-4939-9E56-72E44974A386</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE262683-F563-4E4E-9379-A45C634D07F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C80FD7E7-D83D-43EE-ACF9-B90527F30086</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBA064D8-5684-43D9-B427-40C490DC59E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC3CCEB9-EE44-4C0F-BF54-DDDCB668F808</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8B73B49-D337-47FF-86C5-CAB759BB0EC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE262683-F563-4E4E-9379-A45C634D07F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F99CDD92-86A1-45C1-B9BD-3444954159EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBA064D8-5684-43D9-B427-40C490DC59E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin Funderburg</string>
	<key>description</key>
	<string>Gets the recent|all|personally made workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred - Get Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>6F09E2F4-B7AB-4939-9E56-72E44974A386</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>A7335E46-73DD-43B1-97A3-292E51C29BB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>58E5B4BC-702B-49BE-AE64-8BED09F56579</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>wfr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting workflows...</string>
				<key>script</key>
				<string>osascript GetWorkflows.scpt "recent"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>type 'wfr' to view recent workflows</string>
				<key>title</key>
				<string>get recent workflows</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1705367A-55A7-43AF-BBEE-F3FDC5064599</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>8D3734BE-3AED-4742-8722-6FADE463E6A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>08EE5DDC-7433-4120-844B-F7BB473C6378</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>17348E7E-BE8A-4C9B-BC12-9BF184357239</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>DC3CCEB9-EE44-4C0F-BF54-DDDCB668F808</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wfm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting workflows...</string>
				<key>script</key>
				<string>/usr/bin/python getWorkflows.py "my workflows"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get my Workflows</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>67EF8D53-EEC3-4E68-992F-1B289BD2C08A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>0DD696E0-097F-4D49-9183-09056EBB64C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>BBA064D8-5684-43D9-B427-40C490DC59E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3B949C24-F2E5-4140-B73C-93D199B370B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>009B4EE3-2C97-426D-BE66-31613C17423B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wfa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting workflows...</string>
				<key>script</key>
				<string>/usr/bin/python getWorkflows.py "all"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get all Workflows</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0951D9B9-E718-484A-A60A-F737B09D50C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F99CDD92-86A1-45C1-B9BD-3444954159EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set q to item 1 of argv

  tell application "Alfred Preferences" to activate
  delay 1
  tell application "System Events"	tell process "Alfred Preferences"
		set srch to text field 1 of window 1			tell srch				set focused to true				set value to q				delay 0.2				keystroke return				delay 0.5			end tell			click button 2 of text field 1 of window 1
		set focused of srch to false
		end tell	end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C80FD7E7-D83D-43EE-ACF9-B90527F30086</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F8B73B49-D337-47FF-86C5-CAB759BB0EC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>AE262683-F563-4E4E-9379-A45C634D07F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>009B4EE3-2C97-426D-BE66-31613C17423B</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>08EE5DDC-7433-4120-844B-F7BB473C6378</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>0951D9B9-E718-484A-A60A-F737B09D50C9</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>0DD696E0-097F-4D49-9183-09056EBB64C0</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>1705367A-55A7-43AF-BBEE-F3FDC5064599</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>17348E7E-BE8A-4C9B-BC12-9BF184357239</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>3B949C24-F2E5-4140-B73C-93D199B370B6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>58E5B4BC-702B-49BE-AE64-8BED09F56579</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>67EF8D53-EEC3-4E68-992F-1B289BD2C08A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>6F09E2F4-B7AB-4939-9E56-72E44974A386</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>8D3734BE-3AED-4742-8722-6FADE463E6A2</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>A7335E46-73DD-43B1-97A3-292E51C29BB1</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>AE262683-F563-4E4E-9379-A45C634D07F7</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>BBA064D8-5684-43D9-B427-40C490DC59E4</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>C80FD7E7-D83D-43EE-ACF9-B90527F30086</key>
		<dict>
			<key>note</key>
			<string>Select in Alfred Preferences</string>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>DC3CCEB9-EE44-4C0F-BF54-DDDCB668F808</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>F8B73B49-D337-47FF-86C5-CAB759BB0EC7</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>F99CDD92-86A1-45C1-B9BD-3444954159EF</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
